Gratia: ***********************************************************
Gratia: Creating a usage Record 2007-01-27T00:17:38Z
Gratia: ***********************************************************
Gratia: Record: <Gratia.UsageRecord instance at 0xb70d86ac>
Gratia: Username: none
Gratia: Creating file:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Will save in the record in:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Saved record to /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Connection via HTTP to: gratia-osg.fnal.gov:8881
Gratia: TransactionId:  sge:pc1805.nersc.gov2007-01-27T001738Z
Gratia: Response code:  0
Gratia: Response message:  OK
Gratia: Response indicates success, /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml will be deleted
Gratia: OK
Gratia: ***********************************************************
Gratia: Creating a usage Record 2007-01-27T00:17:38Z
Gratia: ***********************************************************
Gratia: Record: <Gratia.UsageRecord instance at 0xb72532ec>
Gratia: Username: none
Gratia: Creating file:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Will save in the record in:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Saved record to /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Connection via HTTP to: gratia-osg.fnal.gov:8881
Gratia: TransactionId:  sge:pc1805.nersc.gov2007-01-27T001738Z
Gratia: Response code:  0
Gratia: Response message:  OK
Gratia: Response indicates success, /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml will be deleted
Gratia: OK
Gratia: ***********************************************************
Gratia: Creating a usage Record 2007-01-27T00:17:38Z
Gratia: ***********************************************************
Gratia: Record: <Gratia.UsageRecord instance at 0xb70d870c>
Gratia: Username: none
Gratia: Creating file:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Will save in the record in:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Saved record to /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Connection via HTTP to: gratia-osg.fnal.gov:8881
Gratia: TransactionId:  sge:pc1805.nersc.gov2007-01-27T001738Z
Gratia: Response code:  0
Gratia: Response message:  OK
Gratia: Response indicates success, /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml will be deleted
Gratia: OK
Gratia: ***********************************************************
Gratia: Creating a usage Record 2007-01-27T00:17:38Z
Gratia: ***********************************************************
Gratia: Record: <Gratia.UsageRecord instance at 0xb70d872c>
Gratia: Username: none
Gratia: Creating file:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Will save in the record in:/opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Saved record to /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml
Gratia: Connection via HTTP to: gratia-osg.fnal.gov:8881
Gratia: TransactionId:  sge:pc1805.nersc.gov2007-01-27T001738Z
Gratia: Response code:  0
Gratia: Response message:  OK
Gratia: Response indicates success, /opt/OSG/gratia/local_var/tmp/gratiafiles/r0.9294.gratia.xml will be deleted
Gratia: OK

